body{
    background-color: #71c9ce;
}
h2{
    margin-top: 3%;
    margin-left: 10%;
    color: rgb(61, 61, 56);
    text-decoration: underline blue solid 3px;
    display: list-item;
}
.inputs{
    margin-left: 5%;
    background-color: #cbf1f5;
    height: 500px;
    width: 800px;
    border-radius: 100px;
}
#name{
    font-size: 25px;
    border-radius: 20px;
    border-color: black;
    margin-left: 5%;
    margin-top: 5%;
}
#mobile-no{
    font-size: 25px;
    border-radius: 20px;
    border-color: black;
    margin-left: 5%;
}
#pincode{
    font-size: 25px;
    border-radius: 20px;
    border-color: black;
    margin-left: 5%;
    margin-top: 2%;
}
#locality{
    font-size: 25px;
    border-radius: 20px;
    border-color: black;
    margin-left: 5%;
}
#address{
    font-size: 25px;
    border-radius: 20px;
    border-color: black;
    margin-left: 5%;
    margin-top: 2%;
    width: 500px;
    height: 80px;
}
#city{
    font-size: 25px;
    border-radius: 20px;
    border-color: black;
    margin-left: 5%;
    margin-top: 2%;
}
#state{
    font-size: 25px;
    border-radius: 20px;
    border-color: black;
    margin-left: 5%;
}
#optional{
    font-size: 25px;
    border-radius: 20px;
    border-color: black;
    margin-left: 5%;
    margin-top: 2%;
    width: 450px;
    height: 40px;
} 
#save{
    margin-top: 7%;
    margin-left: 10%;
    height: 50px;
    background-color: rgb(64, 190, 48);
    cursor: pointer;
    font-size: 20px;
    border-radius: 100px;
}
::placeholder{
    font-size: 17px;
}
.price-details{
    position: absolute;
    top: 200px;
    left: 60%;
    background-color: #cbf1f5;
    height: 250px;
    width: 400px;
    border-radius: 50px;
    padding: 15px;
}
h3{
    text-align: center;
    text-decoration: underline blue 2px solid;
}
pre{
    font-size: 20px;
}
.payment-option{
    margin-left: 5%;
    background-color: #cbf1f5;
    height: 150px;
    width: 400px;
    border-radius: 50px;
}
#cardnum{
    font-size: 25px;
    border-radius: 20px;
    border-color: black;
    margin-left: 5%;
    margin-top: 5%;
    width: 350px;
}
#cardhol{
    font-size: 25px;
    border-radius: 20px;
    border-color: black;
    margin-left: 5%;
    margin-top: 5%;
    width: 350px;
}
#po{
   position: absoulate;
   margin-bottom: 0%;
   margin-left: 40%;
   height: 50px;
   width: 300px;
   background-color: greenyellow;
   font-size: 40px;
   cursor: pointer;
}